* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "DM sans", sans-serif;
  font-size: 62.5%;
}

:root {
  --fount-blue: #00a5be;
  --brown-input: #685128;
  --red-circle: #F7391C;
}
body {
  background-color: var(--fount-blue);
}
header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  /*Este ancho mÃ­nimo debido al mÃ­nimo ancho en los celulares
  actuales*/
  height: 150px;
  /*Estas dimensiones "mÃ­nimas" de ancho y alto para el header
  vienen del diseÃ±o en figma*/
  /* background-color: var(--fount-blue); */
  /* font-family: "DM Sans",sans-serif; */
  font-style: normal;
}

header div p {
  width: 150px;
  height: 150px;
  display: inline-flex;
  position: absolute;
  background-color: var(--red-circle);
  opacity: 90%;
  border-radius: 100%;
  content: "";
  /* left: calc(50% - 50px);
  top: calc(50% - 50px); */
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

header div img {
  margin: 0 auto;
  position: absolute;
  display: block;
  left: calc(50% - 140px);
  top: calc(50% - 50px);
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
}

.info-container {
  margin: 0 auto;
}

.info-container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
  /* margin-bottom: 30px; */
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}